
.register-form {
    border: 1px solid black;
    height: 62%;
    width: 50%;
    margin: auto;
    background-color: #c3c3c3;
}

.register-form * {
    margin: 2%;
}

a, button {
    cursor: pointer;
}