
<form [formGroup]="loginForm">
    <div class="login-form">
        <h2>Login</h2>
        <div class="login-form-elements">
            <div class="form-group">
                <label for="username">Username</label><br>
                <input matInput type="text" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.get('username')?.errors }"><br>
                <!-- <span *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">Please provide a username</span> -->
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="text" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.errors }">
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="submitForm(loginForm)">Login</button>
            <a class="btn btn-link">Register</a>
        </div>
    </div>
</form>
